#pageintro{
  position: fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:100%;
  background-color: red;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;

  display: block;

  // box-shadow: 10px 10px 5px #888888;

}
#pageintro .inner{
  width:500px;
  height:500px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-250px;
  margin-top:-250px;
  text-align: center;
}
#pageintro .inner h1{
  position:relative;
  bottom:-40%; 
}
.slideUp{
  position: relative;
  top:-110%!important;
}