.upcoming
  h3 upcoming
  h4 
    a(href="work/0p3nr3p0") 0p3nr3p0
  p will be at Furtherfield Gallery in London from June 8th to July 28th as part of 
    a(href="http://www.furtherfield.org/programmes/exhibition/glitch-momentums") Gli.tc/h Moment/ums

#doyouliek
  a(href="https://www.facebook.com/groups/glitchglitch") U LIEK GLITCH?


.works
  h3 works
  each work in works
    .work
      h4
        a(class='worklink', href="work/" + work.name + '/')= work.title
        div.keywords
          each keyword in work.keywords
            include keyword-symbols
        date = work.date
        span(title=strftime('%B %d, %Y %H:%M UTC', date), class="pdate")= strftime('%Y.%m.%d', date)
      | !{work.desc}
    hr(class='clear')